In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import os
import time

## Getting and exploring the data-set

Training data-set is provided [here](https://drive.google.com/open?id=1JNyXs8CPbqneo99rGRJswIM7G1-Zsldp)

In [8]:
# setting paths
data_dir = os.path.abspath('./_data')
train_data_fp = os.path.join(data_dir, 'data.csv')
os.listdir(data_dir)

['data.csv']

In [9]:
# loading data-set
train_data = pd.read_csv(train_data_fp)
train_data.head()

,Unnamed: 0,Episode,Station,Channel Type,Season,Year,Date,Day of week,Start_time,End_time,Length,Name of show,Name of episode,Genre,First time or rerun,# of episode in the season,Movie?,Game of the Canadiens during episode?,Market Share_total,Temperature in Montreal during episode
0,1,Vidéoclips V,V Total,General Channel,Fall,2016,2016-08-29,Monday,2016-08-29 06:00:00,2016-08-29 08:00:00,8,Vidéoclips V,NaN,Music Video Clips,No,Yes,No,No,0.9,20.400
1,2,Apollo dans l'frigo,V Total,General Channel,Fall,2016,2016-08-29,Monday,2016-08-29 08:00:00,2016-08-29 08:30:00,2,Apollo dans l'frigo,NaN,Informal Education and Recreation and Leisure,No,Yes,No,No,0.5,19.125
2,3,Infopublicité,V Total,General Channel,Fall,2016,2016-08-29,Monday,2016-08-29 08:30:00,2016-08-29 09:00:00,2,Infopublicité,NaN,"Infomercials, Promotional and Corporate Videos",No,Yes,No,No,0.3,19.125
3,4,"Infos, Les",V Total,General Channel,Fall,2016,2016-08-29,Monday,2016-08-29 09:00:00,2016-08-29 10:00:00,4,"Infos, Les",NaN,News,No,Yes,No,No,1.7,18.125
4,5,"Souper presque parfait, Un",V Total,General Channel,Fall,2016,2016-08-29,Monday,2016-08-29 10:00:00,2016-08-29 10:30:00,2,"Souper presque parfait, Un",NaN,Reality Programs,No,Yes,No,No,2.2,18.250

In [12]:
print(f'Training data-set consists of {train_data.shape[0]} rows and {train_data.shape[1]} columns')

Training data-set consists of 616656 rows and 20 columns

## Exploratory Data Analysis

In [10]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616656 entries, 0 to 616655
Data columns (total 20 columns):
Unnamed: 0                                616656 non-null int64
Episode                                   616656 non-null object
Station                                   616656 non-null object
Channel Type                              616656 non-null object
Season                                    616656 non-null object
Year                                      616656 non-null int64
Date                                      616656 non-null object
Day of week                               616656 non-null object
Start_time                                616613 non-null object
End_time                                  616613 non-null object
Length                                    616656 non-null int64
Name of show                              616656 non-null object
Name of episode                           394077 non-null object
Genre                                     616656 non-null object
First time or rerun                       616656 non-null object
# of episode in the season                616656 non-null object
Movie?                                    616656 non-null object
Game of the Canadiens during episode?     616656 non-null object
Market Share_total                        616656 non-null float64
Temperature in Montreal during episode    533312 non-null float64
dtypes: float64(2), int64(3), object(15)
memory usage: 94.1+ MB

In [13]:
train_data.describe()

,Unnamed: 0,Year,Length,Market Share_total,Temperature in Montreal during episode
count,616656.000000,616656.000000,616656.000000,616656.000000,533312.000000
mean,308328.500000,2017.381420,3.203963,3.011562,6.707428
std,178013.398136,0.751344,5.306656,4.919562,12.178492
min,1.000000,2016.000000,0.000000,0.000000,-27.425000
25%,154164.750000,2017.000000,2.000000,0.400000,-1.562500
50%,308328.500000,2017.000000,2.000000,1.400000,6.450000
75%,462492.250000,2018.000000,4.000000,3.400000,17.050000
max,616656.000000,2019.000000,92.000000,89.500000,34.950000